<!DOCTYPE html>
<html>
<head>
  <title>Em Quem Eu Voto?</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/assets/icon.jpg" />
  <link rel="image_src" href="http://emquemeuvoto.com.br/assets/logo.gif" />
</head>
<body>
  <%= render "layouts/header" %>   
  
  <div class="container">
    <div id="content">
  	<%= yield %>
    </div>
		<hr>
  	<%= render "layouts/footer" %>
  </div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32103647-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<script type="text/javascript">
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/FaN9TZ7f7bWpp1QbqVDv7Q.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
</script>

<!--[if lt IE 9]>
  <script>window.onload=function(){e("/assets/")}</script>
<![endif]-->

</body>
</html>
